<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="flex flex-col mx-8">
    <%= text_input f, :name, placeholder: "Full name" %>
    <%= error_tag f, :name %>
    <%= submit "Create Account", class: "btn btn-primary mt-3" %>
  </div>
<% end %>
