{{- define "footer" -}}
<footer class="py-20 text-sm text-center">
  <span>&copy; 2021</span>
  <a class="hover:underline" href="https://anschwa.com/">Adam Schwartz</a>
  <span class="mx-1">|</span>
  <a class="hover:underline" href="https://github.com/anschwa/giftopotamus/">View on GitHub</a>
</footer>
{{- end -}}
